.accordion-toggle:hover { text-decoration: none; }

.panel-group .panel + .panel { margin-top: -1px; }

.panel-body { padding: 0px; }

.panel-body .row{
    padding: 1px;
    margin-bottom: -20px;
}
/*navar*/



.panel-title > a {
	 color:  #333333;
	 font-size: 18px;
	 line-height: 20px;
}

.panel-title > a > img {
margin-right: 10px;
}
.accordion-toggle:{
	margin-left: 10px;
}

.navar21 {
	margin-left: 25px;
	margin-top: -2px;

}
.navar21 img{
	margin-right: 15px;
}

.navar21 > li + li {
    margin-left: 0 !important;
    margin-top: 0px;
}

/*
.glyphicon-minus, .glyphicon-plus {
  
    font-size: 25px;
}
*/